body {
  background-color: #fafafa;
}

.score {
  position: fixed;
  right: 250px;
  top: 150px;
  font-size: 2rem;
}

.dino {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-image: url(../assets/dino.png);
}

.dino-over {
  position: absolute;
  bottom: 0;
  width: 70px;
  height: 125px;
  background-image: url(../assets/dinoOver.png);
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(../assets/cactus.png);
}

.game-over {
  text-align: center;
  color: #666;
  margin: 50px 0 10px;
  font-family: arial;
}

p {
  text-align: center;
  color: #666;
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url(../assets/background.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
}

.background.active {
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
}

@keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}
